.header {
  background-color: rgb(72, 72, 72);
  color: white;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.header p {
  margin: 5px 0 0;
  font-size: 1rem;
}
