.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(72, 72, 72);
  color: #333;
}

/* .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
